.post h2 {
    margin: 0 0 5px;
    border: none;
}

.post {
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    padding: 20px;
    color: #000;
}

.breadcrumbs {
    margin: 0 0 20px;
}

/*Navigasi*/
#blog-pager {
    text-align: center;
    padding: 20px 0 0;
    margin: 0;
}

#blog-pager-older-link a {
    float: right;
    width: auto;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-transform: none;
    margin: 0;
    padding: 4px 8px;
    background: #5498C9;
    font-size: 14px;

}

#blog-pager-older-link a:hover,
#blog-pager-home-link a:hover,
#blog-pager-newer-link a:hover {
    background-color: #056b95;
}

#blog-pager-home-link a {
    width: auto;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-transform: none;
    margin: 0;
    padding: 4px 8px;
    background: #5498C9;
    font-size: 14px;
}

#blog-pager-newer-link a {
    float: left;
    width: auto;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-transform: none;
    margin: 0;
    padding: 4px 8px;
    background: #5498C9;
    font-size: 14px;
}

.post-info {
    display: block;
    margin: 10px 0;
    padding: 3PX 0;
    color: #000;
    line-height: 1.1em;
    border-bottom: 1px solid #EEEEEE;
    font-size: 17px;
    overflow: hidden;
}

.post-info a {
    color: #000;
}

.post-info-icon {
    display: inline-block;
    float: left;
    margin: 0 12px 0 0;
}

.post-info a:hover {
    color: #000;
}

.jam {
    background-position: 0 -98px;
    height: 16px;
    padding: 0 0 0 17px;
}

.label {
    background-position: 0 -166px;
    height: 16px;
    padding: 0 0 0 17px;
}

.admin {
    background-position: 0 1px;
    height: 16px;
    padding: 0 0 0 17px;
}

.tanggal {
    background-position: 0 -32px;
    height: 16px;
    padding: 0 0 0 17px;
}

.pagenavi {
    clear: both;
    margin: 20px 0 10px;
    text-align: center;
    font-weight: bold;
    color: #000 !important;
    text-transform: uppercase;
}

.pagenavi span,
.pagenavi a {
    padding: 5px 10px;
    margin-right: 3px;
    display: inline-block;
    color: #000 !important;
    background-color: #fff;
    border: 1px solid #ccc;
}

.pagenavi .current {
    color: #000 !important;
    border: 1px solid #5F0080;
}

.pagenavi .current,
.pagenavi .pages,
.pagenavi a:hover {
    color: #000 !important;
    border: 1px solid #5F0080;
}

.pagenavi .pages {
    display: none;
}