/*Info Post*/
.post h2 {
    padding: 10px 0 0;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
}

.breadcrumbs {
    padding: 5px 10px;
    margin: 0 0 10px;
}

.post-info {
    margin: 10px 0;
    text-transform: uppercase;
}

.info {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.admin {
    float: left;
}

.tanggal {
    float: right;
    font-weight: bold;
    color: #A2A2A2;
    border: none;
}